.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  cursor: pointer;
  transition: background-color 150ms ease;
}

.link:hover {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

.link[data-active] {
  background-color: var(--mantine-color-blue-light);
  color: var(--mantine-color-blue-filled);
}

.linkIcon {
  margin-right: var(--mantine-spacing-sm);
  width: 20px;
  height: 20px;
}
